<div class="parentContainer">
    <div class="childContainer d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-white" id="title">Cardagain</h1>
        <div class="cardMainContainer d-flex justify-content-between">
            <div id="signsContainer" class="beforeSignsRotate">
                <p>One</p>
            </div>
            <img id="card" alt="image of card" src="https://i.pinimg.com/originals/61/bb/c9/61bbc9c3e2abaf5c8dea976393fc1e13.png">
            <div id="giftContainer" class="beforeGiftRotate">
                <p>Two</p>
            </div>
        </div>
        <div class="btnContainer d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-lg btn-block openBtn" (click)="openCard()">Open</button>
        </div>
    </div>
</div>