<div class="mainContainer">
    <h1 class="text-center" id="title">
        About
    </h1>
    <div class="d-flex justify-content-center d-flex flex-column">
        <div class="row p-2">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="aboutImage rounded mx-auto d-block" alt="placeholder Image" src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png">
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12">
                <p class="textFont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos neque quo sint, tenetur laboriosam. Ducimus
                    provident vel animi aliquid ex, doloribus molestias, hic consequuntur quidem veritatis fugit corrupti
                    quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem doloribus eos ut nesciunt
                    illo, dolor corrupti vel mollitia officiis eligendi, minus cupiditate aliquam modi ab inventore error
                    voluptatibus. Eaque?</p>
            </div>
        </div>
        <br>
        <div class="row p-2">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <p class="textFont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos neque quo sint, tenetur laboriosam. Ducimus
                    provident vel animi aliquid ex, doloribus molestias, hic consequuntur quidem veritatis fugit corrupti
                    quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem doloribus eos ut nesciunt
                    illo, dolor corrupti vel mollitia officiis eligendi, minus cupiditate aliquam modi ab inventore error
                    voluptatibus. Eaque?</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="aboutImage rounded mx-auto d-block" alt="placeholder Image" src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png">
            </div>
        </div>
        <br>
        <div class="row p-2">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="aboutImage rounded mx-auto d-block" alt="placeholder Image" src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png">
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12">
                <p class="textFont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos neque quo sint, tenetur laboriosam. Ducimus
                    provident vel animi aliquid ex, doloribus molestias, hic consequuntur quidem veritatis fugit corrupti
                    quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem doloribus eos ut nesciunt
                    illo, dolor corrupti vel mollitia officiis eligendi, minus cupiditate aliquam modi ab inventore error
                    voluptatibus. Eaque?</p>
            </div>
        </div>
        <br>
        <div class="row p-2">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <p class="textFont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos neque quo sint, tenetur laboriosam. Ducimus
                    provident vel animi aliquid ex, doloribus molestias, hic consequuntur quidem veritatis fugit corrupti
                    quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem doloribus eos ut nesciunt
                    illo, dolor corrupti vel mollitia officiis eligendi, minus cupiditate aliquam modi ab inventore error
                    voluptatibus. Eaque?</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="aboutImage rounded mx-auto d-block" alt="placeholder Image" src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png">
            </div>
        </div>
        <br>
        <div class="row p-2">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="aboutImage rounded mx-auto d-block" alt="placeholder Image" src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png">
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12">
                <p class="textFont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos neque quo sint, tenetur laboriosam. Ducimus
                    provident vel animi aliquid ex, doloribus molestias, hic consequuntur quidem veritatis fugit corrupti
                    quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem doloribus eos ut nesciunt
                    illo, dolor corrupti vel mollitia officiis eligendi, minus cupiditate aliquam modi ab inventore error
                    voluptatibus. Eaque?</p>
            </div>
        </div>
        <br>
        <div class="row p-2">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <p class="textFont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos neque quo sint, tenetur laboriosam. Ducimus
                    provident vel animi aliquid ex, doloribus molestias, hic consequuntur quidem veritatis fugit corrupti
                    quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, dolorem doloribus eos ut nesciunt
                    illo, dolor corrupti vel mollitia officiis eligendi, minus cupiditate aliquam modi ab inventore error
                    voluptatibus. Eaque?</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="aboutImage rounded mx-auto d-block" alt="placeholder Image" src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png">
            </div>
        </div>
    </div>
</div>