.mainContainer {
    height: auto;
    background: rgb(228, 198, 146);
    overflow-y: auto;
    
}

.customContainer {
    margin: 0px 5vh 0px 5vh;
    padding-top: 2vh;
    
}

.customCarousel {
    padding-bottom: 2vh;
}

.customSlide {
    width: 100vw;
}

.customImg {
    /* height: 20vh; */
    height: 10vh;
}

.customCol {
    padding: 1px;
}

.customBtn {
    background: #51BBFE;
    padding: 1vh;
}

.cardsContainer {
    border-left: solid black 1px;
    border-right: solid black 1px;
    padding: 4vh 7vh 7vh 7vh;
    height: auto;
    overflow-x: hidden;
    /* overflow-y: auto; */
}

.customCard {
    margin: 2vh;
}