.customContainer {
    /* box-shadow: solid 1px black; */
    margin: 0px 5vh 0px 5vh;
    padding-top: 2vh;
}

.customCarousel {
    padding-bottom: 2vh;
}


.customImg {
    height: 30vh;
}

.customCol {
    padding: 1px;
}