.mainContainer {
    background: red;
    overflow-y: auto;
    
}

.customContainer {
    margin: 0px 5vh 0px 5vh;
    padding-top: 2vh;
    
}

.customCarousel {
    padding-bottom: 2vh;
}

.customImg {
    height: 20vh;
}

.customCol {
    padding: 1px;
}

.customBtn {
    padding: 1vh;
}

.cardsContainer {
    
}

.customCard {
    margin: 2vh;
}