<div class="mainContainer ">
    <div class="row gridBackground ">
        <div class="col-sm-12 col-md-8 col-lg-6 customCol">
            <img id="bowImg" alt="image of bow" src="../../assets/img/bow.PNG">
        </div>
        <div class="col-sm-12 col-md-4 col-lg-6 customCol">
            <form class="customForm">
                <div class="form-group row d-flex justify-content-center">
                    <h1 class="text-center title">Cardagain</h1>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <button class="btn btn-primary customBtn">Log In</button>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <a href="/signUp">Dont have an account yet?</a>
                </div>
                <!-- <div class="form-group row d-flex justify-content-center">
                            <img alt="image of bow" src="../../assets/img/bow.PNG">
                        </div> -->
            </form>
        </div>
    </div>

</div>