<!-- <div class="mainContainer d-flex justify-content-around">
    <div class="cardContainer ">
        <img id="card" src="https://asset.holidaycardsapp.com/assets/card/b_day232-0c7773e78281162c87acc5d49a60ed1b.png" alt="Preview of card">
    </div>
    <div>
        <form class="customForm ">
            <div class="form-group d-flex flex-column">
                <h1 class="text-center title p-2">Created by</h1>
                <h1 class="text-center title p-2">Name</h1>
            </div>
            <div class="form-group">
                <label class="textSize">Name</label>
                <input type="text" class="form-control" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label class="textSize">Font</label>
                <select class="form-control">
                    <option>Default select</option>
                </select>
            </div>
            <div class="form-group">
                <label class="textSize">Message</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block customBtn">Sign</button>
            </div>
        </form>
    </div>
</div> -->

<div class="mainContainer d-flex justify-content-between row">
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
        <div class="cardContainer ">
            <img id="card" src="https://asset.holidaycardsapp.com/assets/card/b_day232-0c7773e78281162c87acc5d49a60ed1b.png" alt="Preview of card">
            <button class="btn btn-success btn-lg btn-block fundBtn">
                <i class="fa fa-gift" aria-hidden="true"></i> Fund
                <i class="fa fa-gift" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center formCol">
        <div class=" d-flex flex-column">
            <h1 class="text-center title p-2">Created by</h1>
            <h1 class="text-center title p-2">Name</h1>

            <form class="customForm p-2">

                <div class="form-group">
                    <label class="textSize">Name</label>
                    <input type="text" class="form-control" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label class="textSize">Font</label>
                    <select class="form-control">
                        <option>Default select</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="textSize">Message</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block customBtn">Sign</button>
                </div>
            </form>
        </div>
    </div>
</div>