#avatarImg {
  height: 100%;
  width: 100%;
}

.profileContainer {
  height: 15vh;
}

#expContainer {
  height: 10vh;
  width: 6vw;
  text-align: center;
  border: solid black 1px;
  border-radius: 50%;
}

#exp {
  font-size: 7vh;
}

.followContainer {
  margin: 2vh 0px 2vh 0px;
}

.followCol {
  padding: 0px;
}

.followFont {
  margin: 0px;
}

.followFont,
.followBtn {
  font-size: 2vh;
}

.followBtn {
  background: #51BBFE;
}

.viewGrid {
  padding: 2vh;
  margin-top: vh;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.customBtn {
  margin: 0px;
  font-size: 4vh;
}

.btnWrap {
  text-align: center;
  height: 10vh;
  width: 10vw;
  border: solid black 2px;
  border-radius: 50%;
}

.dataContainer {
  height: 55vh;
  padding: 2vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

.customCard {
  margin: 2vh;
}
