#avatarImg {
    height: 100%;
    width: 100%;
}

.profileContainer {
    /* padding-top: 3vh; */
}

#expContainer {
    margin-top: 7vh;
    height:10vh;
    width: 7vw;
    text-align: center;
    border: solid black 1px;
    border-radius: 50%;
}

#exp {
    font-size: 7vh;
}

.viewGrid {
    padding: 2vh;
    margin-top: 6vh;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.customBtn {
    margin: 0px;
    font-size: 4vh;
}

.btnWrap {
    text-align: center;
    height: 10vh;
    width: 10vw;
    border: solid black 2px;
    border-radius: 50%;
}