<div class="profileMainContainer">
    <div class="row">
        <div class="col-sm-0 col-md-3 col-lg-3">
            <img id="avatarImg" alt="image of profile avatar" src="https://img00.deviantart.net/8103/i/2017/013/9/b/new_ink_rose_avatar_by_inkrose98-davc3gb.png">
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="profileContainer d-flex justify-content-center align-items-center">
                <div id="expContainer">
                    <p id="exp">3</p>

                    <hr>
                </div>
            </div>
            <div class="followContainer">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-end">
                        <p class="followFont d-flex align-items-center">8 Followers</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center followCol">
                        <button class="followBtn btn btn-primary">Follow</button>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-start">
                        <p class="followFont d-flex align-items-center">23 Following</p>
                    </div>
                </div>
            </div>
            <div class="viewGrid">
                <div class="row">
                    <div class="col-sm-6 col-md-2 col-lg-2 d-flex justify-content-center">
                        <div class="btnWrap d-flex align-items-center justify-content-center">
                            <p class="customBtn">Badges</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2 d-flex justify-content-center">
                        <div class="btnWrap d-flex align-items-center justify-content-center">
                            <p class="customBtn">Poems</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center">
                        <div class="btnWrap d-flex align-items-center justify-content-center">
                            <p class="customBtn">Cards</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2 d-flex justify-content-center">
                        <div class="btnWrap d-flex align-items-center justify-content-center">
                            <p class="customBtn">Arts</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-lg-2 d-flex justify-content-center">
                        <div class="btnWrap d-flex align-items-center justify-content-center">
                            <p class="customBtn">Ratings</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dataContainer">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Developed <i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Purchased <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <button routerLinkActive="active" routerLink="/purchase" class="btn btn-primary">Go somewhere</button>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="card text-center customCard">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">Special title treatment</h4>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="card text-center customCard">
                                <div class="card-header">
                                    Featured
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title">Special title treatment</h4>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                                <div class="card-footer text-muted">
                                    2 days ago
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                                <div class="card text-center customCard">
                                    <div class="card-header">
                                        Featured
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Special title treatment</h4>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        2 days ago
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="card text-center customCard">
                                        <div class="card-header">
                                            Featured
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                        <div class="card-footer text-muted">
                                            2 days ago
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="card text-center customCard">
                                            <div class="card-header">
                                                Featured
                                            </div>
                                            <div class="card-block">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer text-muted">
                                                2 days ago
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                            <div class="card text-center customCard">
                                                <div class="card-header">
                                                    Featured
                                                </div>
                                                <div class="card-block">
                                                    <h4 class="card-title">Special title treatment</h4>
                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                                <div class="card-footer text-muted">
                                                    2 days ago
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3 col-lg-3">
                                                <div class="card text-center customCard">
                                                    <div class="card-header">
                                                        Featured
                                                    </div>
                                                    <div class="card-block">
                                                        <h4 class="card-title">Special title treatment</h4>
                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                                    </div>
                                                    <div class="card-footer text-muted">
                                                        2 days ago
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-3 col-lg-3">
                                                    <div class="card text-center customCard">
                                                        <div class="card-header">
                                                            Featured
                                                        </div>
                                                        <div class="card-block">
                                                            <h4 class="card-title">Special title treatment</h4>
                                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                                        </div>
                                                        <div class="card-footer text-muted">
                                                            2 days ago
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-3 col-lg-3">
                                                        <div class="card text-center customCard">
                                                            <div class="card-header">
                                                                Featured
                                                            </div>
                                                            <div class="card-block">
                                                                <h4 class="card-title">Special title treatment</h4>
                                                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                                            </div>
                                                            <div class="card-footer text-muted">
                                                                2 days ago
                                                            </div>
                                                        </div>
                                                    </div>


                </div>
            </div>
        </div>
    </div>
</div>