<div class="mainContainer">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">Cardagain</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active d-flex align-items-center">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                        <a class="nav-link" routerLink="/grid" routerLinkActive="active">Grid</a>
                    </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle profileBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img id="profileIcon" class="rounded" src="http://images.all-free-download.com/images/graphiclarge/harry_potter_icon_6825007.jpg" alt="profileImg">
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLinkeActive="active" routerLink="/profile/:id">Your Profile</a>
                  <hr>
                  <a class="dropdown-item" href="#">Help</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="#">Sign Out</a>
                </div>
              </div>
            
            <button class="btn btn-primary" routerLink="/logIn" routerLinkActive="active">
                Login
            </button>

            <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

        </div>
    </nav>

    <router-outlet></router-outlet>
</div>