
.box {
    height: 100vh;
}

.profileBtn {
  padding: 5%;
}

#profileIcon {
  height: 5vh;
  width: auto;
  border-radius: 50%;
}

.footer {
    height: 50vh;
    background: grey;
    /* height: 5vh; */
} 

.footerWrap {
    padding: 2px;
}