.signUpContainer {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.customForm {
    height: 100%;
    background: linear-gradient(white, #f2f2f2, white);;
    padding: 15vh 25vh 25vh 25vh;
    border-radius: 2px;
}



.customBtn {
    width: 50%;
}

#bowImg {
    height: 100%;
    width: 100%;  
}

.gridBackground {
    margin: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customCol {
    padding: 0px;
}

@media only screen and (max-width: 500px) {
    .customForm {
        padding: 1vh;
    }
}