.mainContainer {
    /* background: url("http://cdn.shopify.com/s/files/1/0151/7857/products/giftcardintensivenutrition2.png") no-repeat center center fixed; */
    /* background: url("../../assets/img/bow.PNG") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow-y: auto;
    /* padding-right: 5vh;
    padding-top: 10vh; */
}

.customForm {
    /* height: 75vh; */
    /* width: 50vw; */
    background: linear-gradient(white, #f2f2f2, white);;
    padding: 15vh 25vh 25vh 25vh;
    border-radius: 2px;
}



.customBtn {
    width: 50%;
}

#bowImg {
    height: 100%;
    width: 100%;  
}

.gridBackground {
    height: 91vh;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customCol {
    padding: 0px;
}